<div class='container text-center'>
  <div class='content mb-5'>
    <%= render 'shared/content_title', this_title: 'このアプリについて' %>
    <p>このアプリは、集めた推しのグッズをみんなで共有するアプリだよ！</p>
    <p>みんなのグッズを見て癒され、新しいアイデアをゲットしちゃおう♪</p>
    <p>グッズの収納方法やかわいい飾り付けかたなど、<br>どしどし投稿して、楽しい推し活の輪を広げていこう❤️</p>
  </div>
  <div class='content my-5'>
    <%= render 'shared/content_title', this_title: 'アプリの使い方' %>
    <div class='row justify-content-center'>
      <div class='about-box col-lg-5 m-3'>
        <h5 class='my-3'>１．推しグッズを投稿しよう！</h5>
        <p>まずはあなたのイチ推しグッズを投稿してみよう！</p>
        <p>いますぐ画面右上の「新規投稿」ボタンをクリック！！<br>※新規投稿にはログインが必要です。</p>
      </div>
      <div class='about-box col-lg-5 m-3'>
        <h5 class='my-3'>２．みんなの投稿を見てみよう！</h5>
        <p>みんなの投稿を見て新たな発見をしよう！</p>
        <p>画面右上の「投稿一覧」ボタンをクリック！！<br>新しい順にみんなの投稿が見られるよ！</p>
      </div>
      <div class='about-box col-lg-5 m-3'>
        <h5 class='my-3'>３．ランキングを見てみよう！</h5>
        <p>ランキングを見て人気の記事を見てみよう！</p>
        <p>画面右上の「ランキング」ボタンをクリック！！</p>
      </div>
      <div class='about-box col-lg-5 m-3'>
        <h5 class='my-3'>４．マイページを見てみよう！</h5>
        <p>マイページから自分の推し歴を振り返ろう！</p>
        <p>画面右上の画像アイコンをクリックし、マイページを見てみよう！！</p>
      </div>
      <div class='about-box col-lg-6 m-3'>
        <h5 class='my-3'>５．マイプロフィールを設定しよう！</h5>
        <p>マイプロフィールをカスタマイズして、マイベスト投稿をアピールしよう！</p>
        <p>画面右上の画像アイコンをクリックし、マイプロフィールを見てみよう！！</p>
        <p>また、投稿者の名前をクリックするとその人のプロフィールページに行けるよ</p>
      </div>
    </div>
  </div>
  <div class='content my-5'>
    <%= render 'shared/content_title', this_title: 'お問合せ先' %>
    <p>本サイトに関するお問い合わせは、下記お問い合わせフォームよりお願いいたします。</p>
    <%= link_to 'お問い合わせフォーム', new_contact_path %>
  </div>
</div>