<div class='container'>
  <div class='content my-5'>
    <h5 class='text-center mb-3'>【2024年5月3日(金)】運営終了のお知らせ</h5>
    <p>「推しグッズギャラリー」をご愛顧いただきまして誠にありがとうございます。</p>
    <p>ご利用状況を鑑み、「推しグッズギャラリー」は2024年5月3日(金)をもってサービスを終了させていただくこととなりました。</p>
    <p>本サービスは2024年5月3日(金)23:59までご利用いただけます。</p>
    <p>本サービスは2024年5月4日(土)00:00以降停止となり、ご投稿いただいたデータについても全て破棄されますので、あらかじめご了承ください。</p>
    <p>本サービスをご利用いただき、誠にありとうございました。</p>
    <div class='text-center'>
      <h5>お問い合わせ</h5>
      <%= link_to 'お問い合わせフォーム', new_contact_path %>
    </div>
    <p class='text-end'>以上</p>
  </div>
</div>