<%= form_with model: comment, url: comment_path(comment) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class='form-group mt-4 mx-3'>
    <%= f.text_area :body, rows: 3, class: 'form-control' %>
  </div>

  <div class="text-center">
    <%= f.submit class: 'btn my-3 mx-auto form-btn' %>
  </div>
<% end %>
