<%= turbo_stream.update 'post-comment-box' do %>
  <p class='ms-3'>コメント一覧</p>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
<% end %>

<%= turbo_stream.update 'post-comment-form' do %>
  <%= render 'comments/form', comment: @comment, to_url: post_comments_path(@post.id) %>
<% end %>