<% content_for :title, t('.title') %>

<div class='container mt-3'>
  <h3><%= t('.title') %></h3>
  <% @posts.each do |post| %>
    <%= render 'admin_post', post: post %>
  <% end %>
  <div class='text-center page-info'>
    <%= page_entries_info @posts %>
  </div>
  <div class='d-flex justify-content-center'>
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>