<% content_for :title, t('.title') %>

<div class='container'>
  <div class='my-5'>
    <div class='page-title-name text-center my-5'>
      <h1><%= t('.title', name: current_user.name) %></h1>
    </div>
    <div class='text-center'>
      <%= month_calendar(events: @posts) do |date, posts| %>
          <%= date.day %>
          
          <% posts.each do |post| %>
            <div class='mb-2'>
              <%= link_to post.title, post_path(post), class: 'tag' %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
