<div class='content-title my-4', style='display: flex; flex-direction: row; justify-content: center;'>
    <div class='d-flex align-items-center'>
      <%= image_tag('sparkles.png', size:'25x25') %>
    </div>
    <p class='my-auto mx-3'><%= this_title %></p>
    <div class='d-flex align-items-center'>
      <%= image_tag('sparkles.png', size:'25x25') %>
    </div>
</div>