<footer class='footer' id='footer'>
  <div class='container'>
    <div class='row text-center'>
      <%= link_to '利用規約', terms_of_use_path,class: 'navbar-brand col-md-4 footer-item'%>
      <%= link_to 'このアプリについて', about_path,class: 'navbar-brand col-md-4 footer-item'%>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'navbar-brand col-md-4 footer-item'%>
    </div>
  </div>
</footer>
