<div style='border-bottom: 1px solid #66589c; background-color: white;'>
  <div class='container text-center py-2'>
    <%= link_to '【重要】運営終了のお知らせ【2024年5月3日(金)】', notice_of_termination_path %>
  </div>
</div>