<div class='modal-share'>
  <div class='modal-content'>
    <div class='container-box text-center'>
      <div class='container-label'>共有</div>
      <div class='my-3' style='display: flex; justify-content: center;'>
        <div class='me-4'>
          <div class='share-icon-box mx-auto share-btn' id='url-share-btn'>
            <i class='bi bi-link-45deg share-icon'></i>
          </div>
          <div>urlコピー</div>
        </div>
        <div>
          <div class='share-icon-box mx-auto share-btn'>
            <%= link_to "https://twitter.com/share?url=#{@current_url}&text=#{url_content}", target: '_blank', 'data-turbo' => 'false' do %>
              <%= image_tag('logo.svg', class:'share-icon svg-ion') %>
            <% end %>
          </div>
          <div>Xへ投稿</div>
        </div>
      </div>
      <div class='ms-3 no-data' id='share-massage'></div>
      <div class='m-3 p-1 content-box'><%= @current_url %></div>
    </div>
  </div>
</div>
<div class='modal-mask'></div>