<%= link_to post_stamp_path(post, stamp: 'cool'), id: 'cool-stamp-done', class: 'reaction-stamp not-nice done', data: { turbo_method: :delete } do %>
  <span><%= t('enums.post_stamp.stamp.cool') %></span>
  <i class="bi bi-suit-diamond-fill reaction-stamp done"></i>
<% end %>