<%= link_to post_stamp_path(post, stamp: 'cute'), id: 'cute-stamp-done', class: 'reaction-stamp not-nice done', data: { turbo_method: :delete } do %>
  <span><%= t('enums.post_stamp.stamp.cute') %></span>
  <i class="bi bi-flower2 reaction-stamp done"></i>
<% end %>