<%= link_to post_stamp_path(post, stamp: 'great'), id: 'great-stamp-done', class: 'reaction-stamp not-nice done', data: { turbo_method: :delete } do %>
  <span><%= t('enums.post_stamp.stamp.great') %></span>
  <i class="bi bi-stars reaction-stamp done"></i>
<% end %>