<%= link_to post_stamp_path(post, stamp: 'loved'), id: 'loved-stamp-done', class: 'reaction-stamp not-nice done', data: { turbo_method: :delete } do %>
  <span><%= t('enums.post_stamp.stamp.loved') %></span>
  <i class="bi bi-heart-fill reaction-stamp done"></i>
<% end %>