<%= link_to post_stamp_path(post, stamp: 'recommend'), id: 'recommend-stamp-done', class: 'reaction-stamp not-nice done', data: { turbo_method: :delete } do %>
  <span><%= t('enums.post_stamp.stamp.recommend') %></span>
  <i class="bi bi-fire reaction-stamp done"></i>
<% end %>