<%= link_to registration_post_stamp_path(post, stamp: 'recommend'), id: 'recommend-stamp-yet', class: 'reaction-stamp not-nice', data: { turbo_method: :post } do %>
  <span><%= t('enums.post_stamp.stamp.recommend') %></span>
  <i class="bi bi-fire reaction-stamp"></i>
<% end %>