<div class='text-center rank-ber mb-3 mt-5'>
  <span class='mx-3'><%= t('enums.post_stamp.stamp.nice') %><i class="bi bi-hand-thumbs-up-fill"></i></span>
</div>

<%= render 'ranking_post', stamp: 'nice' %>