.simple-calendar {
  .index-0 {
    color: red;
  }
  .index-6 {
    color: blue;
  }
  .calendar-heading {
    font-size: 20px;
  }
}

.calender-pc {
  display: block;
}

.calender-mobile {
  display: none;
}

@media (max-width: 768px) {
  .calender-mobile{
    display: block;
  }

  .calender-pc {
    display: none;
  }
}