@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

body {
  font-family: 'M PLUS 1p', sans-serif;
}

footer {
  font-family: 'Kaisei Opti', serif;
}

.logo {
  font-family: 'Kaisei Decol', serif;
}

.btn {
  font-family: 'Kaisei Opti', serif;
}

.content-title {
  font-family: 'Kaisei Opti', serif;
}

.login-box .col-form-label {
  font-family: 'Kaisei Opti', serif;
}

.page-title-name {
  font-family: 'Kaisei Opti', serif;
  font-weight: bold;
}

.link-text {
  font-family: 'Kaisei Opti', serif;
}

.top-rank {
  font-family: 'Kaisei Opti', serif;
}