@media screen and (max-width: 425px) {
  .modal-share {
    width: 80vw;
  }
}

@media screen and (max-width: 767px) {
  header .logo {
    font-size: 17pt;
  }

  header .logo-img {
    height: 25px;
    width: 25px;
  }

  header .btn {
    font-size: 12pt;
    padding: 8px 13px;
  }
}

@media screen and (min-width: 1400px) {
  .swiper-image-container {
    width: 416px;
  }
}