body {
  background-color: #f5effb;
}

header {
	background-color: #66589c;
}

header .logo {
  font-size: 25pt;
  color: white;
}

header .btn {
  font-size: 15pt;
  color: black;
  background-color: #f5effb;
  margin-left: 10px;
  padding: 10px 15px;
}

header .myicon {
  margin: 0px 10px;
}

header .navbar-toggler {
  background-color: #f5effb;
}

@media screen and (max-width: 767px) {
  header .logo {
    font-size: 17pt;
  }

  header .logo-img {
    height: 25px;
    width: 25px;
  }

  header .btn {
    font-size: 12pt;
    padding: 8px 13px;
  }
}

header .navbar-brand:hover {
  color:#d3d3d3;
}

header .navbar-brand:hover img {
  filter: brightness(0.8);
}

header .nav-link.btn:hover {
  color: #f5effb;
  background-color: #aea2d2;
}

header .nav-link.myicon:hover {
  filter: brightness(0.8);
}

footer {
	background-color: #8C78BA;
  font-size: 15pt;
  color: white;
  width: 100%;
}

footer .footer-item {
  padding: 10px;
}

footer .footer-item:hover {
  color:#d3d3d3;
}

.content .btn {
  color: white;
  background-color: #66589c;
}

.content-title {
  font-size: 15pt;
  color: #66589c;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-box {
  border: 1px solid #66589c;
  background-color: #f5effb;
}

.form-box {
  border: 1px solid #66589c;
  background-color: white;
}

.form-btn {
  font-size: 15pt;
  color: white;
  background-color: #66589c;
  padding: 10px 15px;
}

.form-btn:hover {
  color: #d3d3d3;
  background-color: #8C78BA;
}

.btn-del {
  background-color: #7B2323;
}

.btn-del:hover {
  background-color: #A55656;
}

.link-text {
  font-size: 15pt;
}

.container-box {
  border: 3px solid #66589c;
  margin-top: 20px;
  background-color: white;
}

.container-label {
  background-color: #66589c;
  color: white;
}

.content-box {
  border: 1px solid #66589c;
}

.container-box .body-box {
  height: 150px;
  overflow-y: scroll;
}

.post-type-tag {
  background-color: #66589c;
  color: white;
}

.post-create-at {
  color: #6E6E6E;
}

.form-check .form-check-label {
  cursor: pointer;
  padding:5px;
  border: 1px solid #66589c;
  border-radius: 5px;
}

.form-check .form-check-label:hover {
  background-color: #d3d3d3;
}

.form-check input[type=checkbox] {
  display: none;
}

.form-check input[type=checkbox]:checked ~ .form-check-label {
  background-color: #66589c;
  color: white;
}

.no-data {
  color: #6E6E6E;
}

image{
  background-color: #ffffff;
}
.thumb {
  max-width: 200px;
  max-height: 100px;
}

.show-image {
  max-width: 300px;
  max-height: 200px;
}

@media screen and (max-width: 374px) {
  .show-image {
  max-width: 250px;
  max-height: 200px;
  }
}