.swiper-image-container {
  width: 100%;
}

.swiper-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-pagination-wrapper {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  position: static;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: auto;
}

.swiper-pagination-bullets {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-top: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
}